body {
    background-color: #FCFEEF;
}

hgroup {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Forum', cursive;
    color: #4E5903;
}

h2 {
    font-family: 'Karma', serif;
    margin: 10px;
}

section {
    background-color: #E7F29A;
    margin: 10px;
    border: 2px solid #4E5903;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section img {
    margin: 5px;
    border: 1px solid black;
}

img {
    height: 250px;
}
